# FRONTEND
server {
    listen 80;

    server_name frontend.local;

    root "/app/frontend/web";
    index index.php;

    include /opt/docker/etc/nginx/vhost.common.d/*.conf;
}
server {
    listen 443;

    server_name frontend.local;

    root "/app/frontend/web";
    index index.php;

    include /opt/docker/etc/nginx/vhost.common.d/*.conf;
    include /opt/docker/etc/nginx/vhost.ssl.conf;
}

# BACKEND
server {
    listen 80;

    server_name backend.local;

    root "/app/backend/web";
    index index.php;

    include /opt/docker/etc/nginx/vhost.common.d/*.conf;
}
server {
    listen 443;

    server_name backend.local;

    root "/app/backend/web";
    index index.php;

    include /opt/docker/etc/nginx/vhost.common.d/*.conf;
    include /opt/docker/etc/nginx/vhost.ssl.conf;
}
